<%= render "ticker", stocks: @stocks %>

<%= turbo_frame_tag "stock-data" do %>
  <h1><%= @stock.name %> (<%= @stock.ticker %>)</h1>
  <h2><%= @stock.latest_price.to_s %></h2>
  <%= line_chart @chart_data %>
<% end %>
